<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speech Recognition And Live Translation</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
 <body>

<!-- History Button -->
<a href="/history" class="history-corner">☰ History</a>

<!-- Page Heading -->
<div class="page-title">
    Speech Recognition And Live Translation
</div>

<div class="main-container">

    <!-- Background overlay -->
    <div class="wave-bg"></div>

    <!-- Mic -->
   <div class="mic-circle" id="micCircle">
    <img src="/static/micR.png" class="mic-img" alt="Mic">
</div>


    <button id="recordBtn">Start Speaking</button>

    <div class="output">
        <p id="result">Speak Hindi to translate</p>
    </div>

</div>

<script src="/static/script.js"></script>
</body>

</body>
</html>
